<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
    <img src="assets/styles/photos/prime.png" class="img-rounded" id="prime" style="width:150px;height:150px">

</div>
    <div class="col-md-7">
        <h1><small>Prime Digital Academy</small></h1>
        <ul>
            <li> a;lskdfja;lkdf </li>
            <li>lka;sdjf;kladsjf</li>
            <li>a;lskdfj;alkds</li>
        </ul>

    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <img src="assets/styles/photos/UWEC.jpg" class="img-rounded" id="uwec" style="width:150px;height:150px">

    </div>
    <div class="col-md-7">
        <h1><small>University of Wisconsin-Eau Claire</small></h1>
        <ul>
            <li> a;lskdfja;lkdf </li>
            <li>lka;sdjf;kladsjf</li>
            <li>a;lskdfj;alkds</li>
        </ul>
    </div>
    <div class="col-md-1"></div>
</div>

